{%extends "account_base.html" %}
{% load mailhide %}
{%load i18n%}
{% block title %}
{% load thumbnail%}
{% load cache %}
Fashion -
{% ifequal user.id view_my_profile.id %}
   {{user.first_name|capfirst}} 
{%else%}
   {{view_my_profile.first_name|capfirst}}
{%endifequal%} {%trans 'Profile'%}
{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{{MEDIA_URL}}/css/my_profile.css" type="text/css" />
{% endblock %}
{%block content_loged%}

<div id="profile_view" class="form_fields">
    <div id="profile_head_title">
       {% ifequal user.id view_my_profile.id %}
       <div>
           {%trans 'My Profile' %}
       </div>
       {%else%}
       <div >
           {{view_my_profile.first_name|capfirst}} {%trans 'Profile'%}
       </div>
       {%endifequal%}
    </div>
    <div class="rows">
        <div id="my_profile_title_1div">
            {%ifequal user.id view_my_profile.id%}
            <div class="title">
                {%trans 'My Profile'%}
            </div>
            {%else%}
            <div class="title">
                {{view_my_profile.first_name|capfirst}} {%trans 'Profile'%}
            </div>

            {%endifequal%}

        </div>
        <div align="right" id="my_profile_title_2div">
            {%ifequal user.id view_my_profile.id%}
                <a class="link_decoration" href="{% url edit_profile%}">{%trans 'Edit'%}</a>
            {%endifequal%}
        </div>
    </div>
    {% cache cache_time view_profile_template view_my_profile.id owner_flag%}
    <div class="rows">

        <div class="rows">
            <div class="related_store_table_column1">
                {%if view_my_profile.picture%}
                    <div class="picture_border_view" style="{% if view_my_profile.picture %}background-image:url({% thumbnail view_my_profile.picture.name 200x150 %});{% endif %}"></div>
                {%else%}
                    <div class="picture_border_view" style="background-image:url({{MEDIA_URL}}no_user_picture.jpg);"></div>
                {%endif%}
            </div>
            <div class="related_store_table_column2">
                <div class="detail_item_rows2">
                    <div class="related_store_table_column1">
                        {%trans 'Name'%}
                    </div>
                    <div class="divide">
                        :
                    </div>
                    <div class="related_store_table_column2">
                        {{view_my_profile.first_name|capfirst}}

                    </div>
                </div>
                <div class="detail_item_rows2">
                    <div class="related_store_table_column1">
                        {%trans 'Birthdate'%}
                    </div>
                    <div class="divide">
                        :
                    </div>
                    <div class="related_store_table_column2">
                        {{view_my_profile.date_of_birth|date:"d F Y"}}
                    </div>
                </div>
                <div class="detail_item_rows2">
                    <div class="related_store_table_column1">
                        {%trans 'Age'%}
                    </div>
                    <div class="divide">
                        :
                    </div>
                    <div class="related_store_table_column2">
                        {{my_age}}
                    </div>
                </div>
                <div class="detail_item_rows2">
                    <div class="related_store_table_column1">
                        {%trans 'Gender'%}
                    </div>
                    <div class="divide">
                        :
                    </div>
                    <div class="related_store_table_column2">
                        {%ifequal view_my_profile.sex 1%}
                            {%trans 'Male'%}
                        {%else%}
                            {%trans 'Female'%}
                        {%endifequal%}
                    </div>
                </div>
                <div class="detail_item_rows2">
                    <div class="related_store_table_column1">
                        {%trans 'Address'%}
                    </div>
                    <div class="divide">
                        :
                    </div>
                    <div class="related_store_table_column2" id="ie_suck_warp">
                        {% for line in view_my_profile.street_address_list|default:_("-") %}
                            {{ line }} <br />
                        {% endfor %}
                    </div>
                </div>
                <div class="detail_item_rows2">
                    <div class="related_store_table_column1">
                        {%trans 'Telephone'%}
                    </div>
                    <div class="divide">
                        :
                    </div>
                    <div class="related_store_table_column2">
                        {{view_my_profile.phone_area_code}} - {{view_my_profile.telephone}}
                    </div>
                </div>
                <div class="detail_item_rows2">
                    <div class="related_store_table_column1">
                        {%trans 'Handphone'%}
                    </div>
                    <div class="divide">
                        :
                    </div>
                    <div class="related_store_table_column2">
                        {{view_my_profile.handphone|default:"None"}}
                    </div>
                </div>
                <div class="detail_item_rows2">
                    <div class="related_store_table_column1">
                        {%trans 'Facsimile'%}
                    </div>
                    <div class="divide">
                        :
                    </div>
                    <div class="related_store_table_column2">
                        {%if view_my_profile.fax_area_code%}
                        {{view_my_profile.fax_area_code}} - {{view_my_profile.fax}}
                        {%else%}
                            {%trans 'None'%}
                        {%endif%}
                    </div>
                </div>
                <div class="detail_item_rows2">
                    <div class="related_store_table_column1">
                        {%trans 'Email'%}
                    </div>
                    <div class="divide">
                        :
                    </div>
                    <div class="related_store_table_column2" id="email_column">
                        {% ifequal view_my_profile.id user.id %}{{view_my_profile.email}}{%else%}{{view_my_profile.email|mailhide}}{%endifequal%}
                    </div>
                </div>
                <div class="detail_item_rows2">
                    <div class="related_store_table_column1">
                        {%trans 'Personal Website'%}
                    </div>
                    <div class="divide">
                        :
                    </div>
                    <div class="related_store_table_column2">
                        {% if view_my_profile.personal_website %}
                        <a href="{{view_my_profile.personal_website}}" class="hyperlink">
                        {% endif%}
                        {{view_my_profile.personal_website|default:"None"}}
                        {% if view_my_profile.personal_website %}
                        </a>
                        {% endif%}
                    </div>
                </div>
                <div class="detail_item_rows2">
                    <div class="related_store_table_column1">
                        {%trans 'Viewed'%}
                    </div>
                    <div class="divide">
                        :
                    </div>
                    <div class="related_store_table_column2">
                        {{view_my_profile.page_view}} {%trans 'Time'%}{{view_my_profile.page_view|pluralize:"s"}}
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="title">
                {%trans 'About Me'%}
            </div>
            <div id="ie_suck_warp">
                {% for line in view_my_profile.about_me_list|default:_("None") %}
                    {{ line }}<br />
                {% endfor %}
            </div>
            <div class="form_fields">
                <hr />
            </div>
        </div>
    </div>
    {% endcache %}
    {%if view_store %}
        <div class="rows">
            <div id="my_profile_title_1div">
                {%ifequal user.id view_store.user.id%}
                    <a class="title store_title" href="{% url view_store %}">{% ifequal user.account_type 1 %}{%trans 'My Store'%}{%else%}{%trans 'My Portfolio'%}{%endifequal%}</a>
                {%else%}
                    <a class="title store_title" href="{% url view_stores view_store.slug%}">{{view_store.name|capfirst}}</a>
                {%endifequal%}
            </div>
            <div align="right" id="my_profile_title_2div">
                {%ifequal user.id view_store.user.id%}
                    <a class="link_decoration" href="{%url edit_store%}">{%trans 'Edit'%}</a> |
                    <a class="link_decoration" href="{%url remove_store%}">{%trans 'Remove'%}</a>
                {%endifequal%}
            </div>
        </div>
        <div class="rows">
            <div class="related_store_table_column1">
                {%ifequal user.id view_store.user.id%}
                    {%if view_store.picture%}
                    <a href="{% url view_store %}"><div class="picture_border_view" style="{% if view_store.picture %}background-image:url({% thumbnail view_store.picture.name 200x150 %});{% endif %}"></div></a>
                    {%else%}
                    <a href="{% url view_store %}"><div class="picture_border_view" style="background-image:url({{MEDIA_URL}}no_store_picture.jpg);"></div></a>
                    {%endif%}
                {%else%}
                    {%if view_store.picture%}
                    <a href="{% url view_stores view_store.slug%}"><div class="picture_border_view" style="{% if view_store.picture %}background-image:url({% thumbnail view_store.picture.name 200x150 %});{% endif %}"></div></a>
                    {%else%}
                    <a href="{% url view_stores view_store.slug%}"><div class="picture_border_view" style="background-image:url({{MEDIA_URL}}no_store_picture.jpg);"></div></a>
                    {%endif%}
                {%endifequal%}
            </div>
            {% cache 600 view_profile "part_own_store" view_my_profile.id %}
            <div class="related_store_table_column2">
                <div style="margin-bottom:5px;" class="detail_item_rows">
                    <div class="related_store_table_column1">
                        {%trans 'Store Name'%}
                    </div>
                    <div class="divide">
                        :
                    </div>
                    <div class="related_store_table_column2">
                        {{view_store.name|capfirst}}
                    </div>
                </div>
                <div class="detail_item_rows2">
                    <div class="related_store_table_column1">
                        {%trans 'Address'%}
                    </div>
                    <div class="divide">
                        :
                    </div>
                    <div class="related_store_table_column2" id="ie_suck_warp">
                        {% for line in view_store.location_list|default:"-" %}
                            {{line}} <br />
                        {% endfor %}
                    </div>
                </div>
                <div class="detail_item_rows2">
                    <div class="related_store_table_column1">
                        {%trans 'Telephone'%}
                    </div>
                    <div class="divide">
                        :
                    </div>
                    <div class="related_store_table_column2">
                        {{view_store.phone_area}} - {{view_store.telephone}}
                    </div>
                </div>
                <div class="detail_item_rows2">
                    <div class="related_store_table_column1">
                        {%trans 'Facsimile'%}
                    </div>
                    <div class="divide">
                        :
                    </div>
                    <div class="related_store_table_column2">
                        {%if view_store.fax%}
                        {{view_store.fax_code}} - {{view_store.fax}}
                        {%else%}
                            {%trans 'None'%}
                        {%endif%}
                    </div>
                </div>
                <div class="detail_item_rows2">
                    <div class="related_store_table_column1">
                        {%trans 'Handphone'%}
                    </div>
                    <div class="divide">
                        :
                    </div>
                    <div class="related_store_table_column2">
                        {{view_store.handphone|default:"None"}}
                    </div>
                </div>
                <div class="detail_item_rows2">
                    <div class="related_store_table_column1">
                        {%trans 'Company Website'%}
                    </div>
                    <div class="divide">
                        :
                    </div>
                    <div class="related_store_table_column2">
                        {% if view_store.company_website %}
                        <a href="{{view_store.company_website}}" class="hyperlink">
                        {% endif%}
                        {{view_store.company_website|default:"None"}}
                        {% if view_store.company_website %}
                        </a>
                        {% endif%}
                        
                    </div>
                </div>
                <div class="detail_item_rows2">
                    <div class="related_store_table_column1">
                        {%trans 'Last Item Update'%}
                    </div>
                    <div class="divide">
                        :
                    </div>
                    <div class="related_store_table_column2">
                        {{view_store.last_updated|date:"d F Y"}}
                    </div>
                </div>
                <div class="detail_item_rows2">
                    <div class="related_store_table_column1">
                        {%trans 'Viewed'%}
                    </div>
                    <div class="divide">
                        :
                    </div>
                    <div class="related_store_table_column2">
                        {%if view_store.view_set.all%}
                        {%for viewed in view_store.view_set.all%}
                            {{viewed.count}} {%trans 'Time'%}{{viewed.count|pluralize:"s"}}
                        {%endfor%}
                        {%else%}
                            0 {%trans 'Time'%}
                        {%endif%}
                    </div>
                </div>
                <div class="detail_item_rows2">
                    <div class="related_store_table_column1">
                        {%trans 'Rating'%}
                    </div>
                    <div class="divide">
                        :
                    </div>
                    <div class="related_store_table_column2">
                        <div id="example-1">
                            <input type="hidden" id="star_counter" value="{{rating.avg_rate}}" />
                        </div>
                        <div id="example-2">
                            {{view_store.ratingcounter_set.all.count}} {%trans 'Time'%}{{view_store.ratingcounter_set.all.count|pluralize:"s"}} {%trans 'rate'%}
                        </div>
                    </div>

                </div>
            </div>
            {% endcache%}
            {%ifequal user.id view_my_profile.id%}
                <div class="rows" id="add_col_div">
                    <div>
                        <a href="{%url line_add %}" class="medium_red_button">{%trans 'Add Collection'%}</a>
                        <a id="add_collection_clickme" href="#"  title='Add Collection|By adding a store you get a chance to own your boutique now. Build up your product portfolio by clicking "Add Collection" button. This allows you to put as many products, segmented in different collections, as you want. With more collections and items you add, more people will get interested in products you offer.'><img style="margin:3px 0 0 3px;cursor:help;border:none;" src="{{MEDIA_URL}}/img/whats_this.png" alt="fashionment.com question mark icon" /></a>
                    </div>
                </div>
            {%endifequal%}
            {% cache 600 view_profile 'store_story' view_my_profile.id %}
            <div class="title">
                {%trans 'Store Story'%}
            </div>
            <div id="ie_suck_warp">
                {% for line in view_store.store_story_list|default:_("-") %}
                    {{ line}}<br />
                {% endfor %}
            </div>
            <div class="title">
                {%trans 'Promotion Text'%}
            </div>
            <div id="ie_suck_warp">
                {{view_store.promotion_text|linebreaksbr}}
            </div>
            <div class="form_fields">
                <hr />
            </div>
            {% endcache %}
       </div>
    {%else%}
        {%ifequal user.id view_my_profile.id%}
            <div class="title" >
               {%ifequal user.account_type 1 %} {%trans 'My Store'%}{%else %}{%trans 'My Portfolio'%}{%endifequal%}
            </div>
            <div id="add_portfolio_div">
                <a class="{%ifequal user.account_type 1 %}short_red_button{%else%}medium_red_button{%endifequal%}"  href="{% url add_store%}">{%ifequal user.account_type 1 %}{%trans 'Add Store'%}{%else %}{%trans 'Add Portfolio'%}{%endifequal%}</a>
                <a id="mystore_clickme" href="#"  title='Add Store|By adding a store you get a chance to own your boutique now. Build up your product portfolio by clicking "Add Collection" button. This allows you to put as many products, segmented in different collections, as you want. With more collections and items you add, more people will get interested in products you offer.'><img style="margin:3px 0 0 3px;cursor:help;border:none;" src="{{MEDIA_URL}}/img/whats_this.png" /></a>
            </div>
            <div>
                <hr />
            </div>
        {%else%}
            <div class="title" id="store_div_part">
                {{view_my_profile.first_name|capfirst}}'s {%ifequal user.account_type 1 %} {%trans 'Store'%}{%else %}{%trans 'Portfolio'%}{%endifequal%}
            </div>
            <div>
                {%ifequal user.account_type 1 %}{%trans "Currently Don't Have a store"%}{%else %}{%trans "Currently Don't Have a Portfolio"%}{%endifequal%}
            </div>
            <div class="form_fields">
                <hr />
            </div>
        {%endifequal%}
    {%endif%}
    <div class="rows">
        <div  class="title" id="addict_user_calc">
            {%if my_addict%}
            {%trans 'My Addicts are'%} {{my_addict.count}} Users
            {%else%}
            {%trans 'My Addicts are'%} 0 Users
            {%endif%}
        </div>
        <div>
            {%if my_addict%}
              {% cache 600 view_profile "my_addict" view_my_profile.id %}
                {%for my_fan in my_addict%}
                    {% if my_fan.user.store_set.all%}
                    {%for who_addict_me in my_fan.user.store_set.all%}
                     {%ifequal who_addict_me.deleted 0%}
                        <div class="addict_user_div">
                            <div class="addict_username">
                                {{who_addict_me}} 
                            </div>
                            <div>
                                <a href="{%url view_stores who_addict_me.slug%}"><div class="picture_border addict_pic" style="{% if who_addict_me.picture %}background-image:url({% thumbnail who_addict_me.picture.name 100x75 %});{% endif %}"></div></a>
                            </div>
                           
                        </div>
                         {%endifequal%}
                    {%endfor%}
                    {% else %}
                    <div class="addict_user_div">
                            <div class="addict_username">
                                {{my_fan.user.username}}
                            </div>
                            <div>
                                
                                <a href="{%url view_profile my_fan.user.id%}"><div class="picture_border addict_pic" style="{% if my_fan.user.picture %}background-image:url({% thumbnail my_fan.user.picture.name 100x75 %});{% endif %}"></div></a>
                            </div>
                           
                        </div>
                    {%endif%}
                {%endfor%}
                <div class="rows">
                    <div id="addict_more">
                        {%for my_fan in my_addict%}
                            {%ifequal forloop.counter 5%}
                                    <a class="link_decoration" href="{% url view_my_addict user.id %}">{%trans 'more'%} >></a>
                            {%endifequal%}
                        {%endfor%}
                    </div>
                </div>
              {% endcache %}
            {%else%}
                {%blocktrans%}
                    You are not an addiction just yet. Make people addict to you by increasing your collections and doing more promotions
                {%endblocktrans%}
            {%endif%}
        </div>
    </div>
    <div class="form_fields">
        <hr />
    </div>
    {%ifequal user.id view_my_profile.id%}
       {% cache 600 view_profile "im_addicted"%}
        <div  class="title" id="addicted_to_calc">
            {%trans "I'm Addicted To"%} {{addict_to.count}} users
        </div>        
        <div class="rows">
            <div>
                {%if addict_to%}
                    {%for me_addict_to in addict_to%}
                        <div class="addict_user_div" >
                            
                            <div class="addict_username">
                               {{me_addict_to}}
                            </div>
                            
                            <div>
                                <a href="{%url view_stores me_addict_to.store.slug%}"><div class="picture_border addict_pic" style="{% if me_addict_to.store.picture %}background-image:url({% thumbnail me_addict_to.store.picture.name 100x75 %});{% endif %}"></div></a>
                                <a href="{%url remove_addict me_addict_to.id%}" >{%trans 'Remove'%}</a>
                            </div>
                            
                        </div>
                    {%endfor%}
                <div class="rows">
                    <div id="addict_more_div">
                        {%for me_addict_to in addict_to%}
                            {%ifequal forloop.counter 5%}
                                <a class="link_decoration" href="{% url addicts_to%}">{%trans 'more'%} >></a>
                                
                            {%endifequal%}
                        {%endfor%}
                    </div>
                </div>
                {%else%}
                    {%trans "currently don't fan anyone"%}
                {%endif%}
            </div>
        </div>
       {% endcache %}
    {%endifequal%}
</div>
<script>
<!--

var star_counter = $("#star_counter").val();
$(document).ready(function(){
    var prof_img = $('#profile_img')
    var prof = $('#name7')
    if('{{user.id}}'=='{{ view_my_profile.id}}'){
        prof_img.attr('style','display:;border:none;');
        prof_img.attr('src','{{MEDIA_URL}}fashion_icon.png');
        prof.attr('style',' color:#B5121C; font-weight:bold;')
    }
    if(!$.mobile()){
    $('#add_collection_clickme').cluetip({activation: 'click', sticky: true,closePosition: 'title', width: 350, splitTitle: '|'});
    $('#mystore_clickme').cluetip({activation: 'click', sticky: true,closePosition: 'title', width: 350, splitTitle: '|'});

	$('#id_comment').css('width','550px')
    $('#example-1').ratings(5).bind('ratingchanged', function(event, data) {
    $('#example-rating-1').text(data.rating);

  })
  }
  var table = $('#email_column')

        table.click(function(e){
            e.preventDefault();
            var target = $(e.target)
            if(target.is('input[type=submit]')){
                target.parents('form').submit()
            }
            else if(target.is('.email_hide')){

                var target_parent = target.parent()
                var div = $('<div class="win_pop_up_mail_hide"></div>').appendTo('body')
                div.mailhide(target.attr('href'),{
                    load:function(data){
                        target.hide();
                        $('#profile_view').cover();
                        $('.second_column').center(div);
                        $('#profile_view_cover').click(function(e){
                            $(this).remove()
                            target.show();
                            div.remove()
                        })
                    },
                    success:function(data){
                        var clone_div = div.clone();
                        div.remove();
                        $('#profile_view_cover').remove();
                        target_parent.html(clone_div.html()).attr('style','font-weight:bold;');
                    }
                })
            }
        })
        table.find('.email_hide').hover(function(e){
            $(this).parent().find('.lock').css({'background-image':'url(/media/img/padlock_open_small.gif)'})
        },
        function(e){
            $(this).parent().find('.lock').removeAttr('style')
        })

        $("a.lock").click(function(e){
            var target = $(e.target)
            $(this).siblings().click()
        })
});

jQuery.fn.ratings = function(stars, initialRating) {

  //Save  the jQuery object for later use.
  var elements = this;

  //Go through each object in the selector and create a ratings control.
  return this.each(function() {

    //Make sure intialRating is set. if(!initialRating)
    if(!star_counter){
        initialRating = 0;
    }
      else{
            initialRating = star_counter;
        }
    //Save the current element for later use.
    var containerElement = this;

    //grab the jQuery object for the current container div
    var container = jQuery(this);

    //Create an array of stars so they can be referenced again.
    var starsCollection = Array();

    //Save the initial rating.
    containerElement.rating = initialRating;

    //Set the container div's overflow to auto.  This ensure it will grow to
    //hold all of its children.
    container.css('overflow', 'auto');

    //create each star
    for(var starIdx = 0; starIdx < stars; starIdx++) {

      //Create a div to hold the star.
      var starElement = document.createElement('div');

      //Get a jQuery object for this star.
      var star = jQuery(starElement);

      //Store the rating that represents this star.
      starElement.rating = starIdx + 1;

      //Add the style.
      star.addClass('jquery-ratings-star');

      //Add the full css class if the star is beneath the initial rating.
      if(starIdx < initialRating) {
        star.addClass('jquery-ratings-full');
      }

      //add the star to the container
      container.append(star);
      starsCollection.push(star);

    }
  });
};
-->
</script>
{%endblock%}
