
{% if is_paginated %}
{% load i18n %}
<style>
    .current{
        font-weight:bold;
        text-decoration:none;
    }
</style>
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="{{ url }}?page={{ page_obj.previous_page_number }}{{ getvars }}" class="prev">&lsaquo;&lsaquo; {% trans "previous" %}</a>
    {% else %}
        <span class="disabled prev">&lsaquo;&lsaquo; {% trans "previous" %}</span>
    {% endif %}
    {% for page_number in page_numbers %}
        {% if page_number %}
            <a 
            {% ifequal page_number page_obj.number %}
                {% if url %}
                    href="{{ url }}?page={{ page_number }}{{ getvars }}"
                {% endif %}
            {% else %}
            href="{{ url }}?page={{ page_number }}{{ getvars }}"
            {% endifequal %}
            class="page_number{% ifequal page_number page_obj.number %} current{% endifequal %}">{{ page_number }}</a>
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a href="{{ url }}?page={{ page_obj.next_page_number }}{{ getvars }}" class="next">{% trans "next" %} &rsaquo;&rsaquo;</a>
    {% else %}
        <span class="disabled next">{% trans "next" %} &rsaquo;&rsaquo;</span>
    {% endif %}
</div>
{% endif %}
