{% extends 'account_base.html' %}
{% load humanize %}
{% load i18n %}
{% block content_loged %}
<form method="POST">
<table style="position:absolute;margin-left:-34px;margin-top:-15px;" width="680px" cellpadding="0" cellspacing="0">
    {% if not err %}
        {% ifnotequal title "Invitation" %}
            <tr>
                <td width="540px">
                    <div style="font-size:16px;color:maroon;font-weight:bold">{{title}}</div>
                </td>
                <td>
                {% if stores.has_previous %}
                    <a href="?page={{ stores.previous_page_number }}"><< previous</a>
                {% else %}
                  << previous
                {% endif %}
                </td>
                <td>
                {% if stores.has_next %}
                    <a href="?page={{ stores.next_page_number }}">next >></a>
                {% else %}
                    next >>
                {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
           <tr>
            <td colspan="3">
              <table>
                {%  for store in stores.object_list %}
               <tr style="float:left;height:160px;">
                   <td style="width:100px;">
                       {% ifequal title "Last updated" %}
                        {% url view_stores store.id as link %}
                       {% else %}
                        {% url view_stores store.store.id as link %}
                       {% endifequal %}
                       <a href="{{link}}" class="hyperlink" style="font-size:12px;">{{store.name}}</a>
                       <br />
                       <a href="{{link}}">
                           {% ifequal title 'Last updated'%}
                             <img src="{{MEDIA_URL}}/{{store.picture}}" width="95px" height="85px" alt="store picture" />
                           {% else %}
                             <img src="{{MEDIA_URL}}/{{store.store.picture}}" width="95px" height="85px" alt="store picture" />
                           {% endifequal %}
                        </a>
                       <br />
                       <div style="font-size:11px;">{{msg}}
                       {% ifnotequal title "Last updated" %}
                        {{store.count}}
                        {% trans 'times' %}
                       {% else %}
                        {% trans 'at' %}
                        {{store.last_updated|naturalday}}
                        {{store.last_updated|date:"H:i"}}
                       {% endifnotequal %}
                       </div>
                   </td>
                   <td width="25px">
                        &nbsp;
                   </td>
               </tr>
               {% endfor %}
              </table>
             </td>
           </tr>
           <tr style="height:130px">
               <td colspan="3">
                   <hr />
               </td>
           </tr>
          <tr>
           <td colspan="3">
               <table>
               {%  for item in items.object_list %}
               <tr style="float:left;height:160px;">
                   <td style="width:100px;">
                     {% ifequal title "Last updated" %}
                        {% url detail_items item.id as link %}
                       {% else %}
                        {% url detail_items item.item.id as link %}
                       {% endifequal %}
                       <a href="{{link}}" class="hyperlink" style="font-size:12px;">{{item.item}}</a>
                       <br />
                       <a href="{{link}}">
                           {% ifequal title 'Last updated'%}
                             <img src="{{MEDIA_URL}}/{{item.picture1}}" width="95px" height="85px" alt="fashion item picture" />
                           {% else %}
                             <img src="{{MEDIA_URL}}/{{item.item.picture1}}" width="95px" height="85px" alt="fashion item picture" />
                           {% endifequal %}
                        </a>
                       <br />
                       <div style="font-size:11px;">{{msg}}
                       {% ifnotequal title "Last updated" %}
                        {{item.count}}
                        {% trans 'times' %}
                       {% else %}
                        {% trans 'at' %}
                        {{item.last_updated|naturalday}}
                        {{item.last_updated|date:"H:i"}}
                       {% endifnotequal %}
                       </div>
                   </td>
                   <td width="25px">
                        &nbsp;
                   </td>

               </tr>
               {% endfor %}
               </table>
             </td>
           </tr>
       {% else %}
           <tr>
               <td>
                   <div style="font-size:16px;color:maroon;font-weight:bold;">{{title}}</div>
               </td>
           </tr>
           {% if not invitecomplete %}
               {% for field in form %}
               <tr>
                   <td>
                       {% ifequal forloop.counter 1%}
                        {{field.label}}
                       {% endifequal %}
                       {% ifequal forloop.counter 6 %}
                            {{field.label}}
                       {% endifequal %}
                   </td>
                   <td>
                       {{field}}{{field.errors}}
                   </td>
               </tr>
               {% endfor %}
               <tr>
                   <td colspan="2" align="right">
                   <input type="submit" value="Invite" name="submit1" />
                   </td>
               </tr>
           {% else %}
           <tr>
                   <td align="center">
                       &nbsp;
                   </td>
               </tr>
               {% blocktrans %}
               <tr style="height:30px;">
                   <td align="center">
                        You're a Star!  Thank you for inviting your friends.
                   </td>
               </tr>
               <tr align="center">
                <td>
                Your invitation has been successfully sent.
                </td>
               </tr>
               {% endblocktrans %}
           {% endif %}
       {% endifnotequal %}
   {% else %}
    <tr>
        <td>
            <h2>{{err}}</h2>
        </td>
    </tr>
   {% endif %}
</table>
</form>
{% endblock %}

