{% extends "account_base.html" %}
{% load i18n %}
{% block title %}
  Fashionment.com - {% trans 'Complete' %}
{% endblock%}
{% block content_loged %}
{% blocktrans %}
<div class="moving_left_div">
  <div>
    <h2 class="title">Email Verification</h2>
  </div>
  <div>
      &nbsp;
  </div>
  <div >
      
      You have successfully become a member of Fashionment.
      A notifcation will be sent to your email shortly, please verify your email address
      before continue browsing.
      
  </div>
</div>
  {% endblocktrans %}
{% endblock %}
