{% load cache %}
<table align="center" class="tbl_size" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="4" width="800">
                <tbody>
                    <tr>
                        <td class="col_size" colspan="10" id="BlueHead" ><a name="modern"></a>WOMEN'S SIZE GUIDE</td>

                    </tr>

                    <tr>
                        <th class="header_size" width="100" class="header_size">Sizing Guide</th>

                        <th class="header_size" width="40" class="header_size">XXS</th>
                        <th class="header_size" width="40" class="header_size">XS</th>
                        <th class="header_size" colspan="2" class="header_size">S</th>

                        <th class="header_size" colspan="2" class="header_size">M</th>

                        <th class="header_size" colspan="2" class="header_size">L</th>
                        <th class="header_size" width="40" class="header_size">XL</th>

                    </tr>
                    <tr>
                        <td class="col_size" id="LeftMain" U.S Sizes</td>

                        <td class="col_size" align="center" width="18" >0</td>

                        <td class="col_size" align="center" width="18" >2</td>
                        <td class="col_size" align="center" width="40" >4</td>

                        <td class="col_size" align="center" width="40" >6</td>
                        <td class="col_size" align="center" width="40" >8</td>

                        <td class="col_size" align="center" width="40" >10</td>
                        <td class="col_size" align="center" width="40" >12</td>

                        <td class="col_size" align="center" width="40" >14</td>
                        <td class="col_size" align="center" width="40" >16</td>

                    </tr>

                    <tr>
                        <td class="col_size" id="LeftMain" >Bust (inches)</td>
                        <td class="col_size" align="center" width="18" > 31.5</td>

                        <td class="col_size" align="center" width="18" >32.5</td>
                        <td class="col_size" align="center" width="40" > 33.5 </td>

                        <td class="col_size" align="center" width="40" >34.5</td>
                        <td class="col_size" align="center" width="40" > 35.5 </td>
                        <td class="col_size" align="center" width="40" >36.5</td>

                        <td class="col_size" align="center" width="40" >38</td>
                        <td class="col_size" align="center" width="40" >39.5</td>

                        <td class="col_size" align="center" width="40" >41</td>

                    </tr>

                    <tr>
                        <td class="col_size" id="LeftMain" >Waist (inches)</td>

                        <td class="col_size" align="center" width="18" > 23 </td>

                        <td class="col_size" align="center" width="18" >24</td>
                        <td class="col_size" align="center" width="40" > 25 </td>

                        <td class="col_size" align="center" width="40" >26</td>
                        <td class="col_size" align="center" width="40" > 27 </td>

                        <td class="col_size" align="center" width="40" >28</td>

                        <td class="col_size" align="center" width="40" >29.5</td>
                        <td class="col_size" align="center" width="40" >31</td>
                        <td class="col_size" align="center" width="40" >32.5</td>

                    </tr>

                    <tr>

                        <td class="col_size" id="LeftMain" >Hip (inches)</td>

                        <td class="col_size" align="center" width="18" > 33.5</td>
                        <td class="col_size" align="center" width="18" >35</td>
                        <td class="col_size" align="center" width="40"> 36 </td>

                        <td class="col_size" align="center" width="40">37</td>

                        <td class="col_size" align="center" width="40" > 38 </td>

                        <td class="col_size" align="center" width="40" >39</td>
                        <td class="col_size" align="center" width="40" >40.5</td>
                        <td class="col_size" align="center" width="40" >42</td>
                        <td class="col_size" align="center" width="40" >43.5</td>

                    </tr>

                </tbody>
            </table>

            <br>

            
            <br>

            <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="4" width="800">

  <tbody><tr> 	<td class="col_size" colspan="7" id="BlueHead"><a name="women"></a>WOMEN'S PLUS SIZE

GUIDE</td>

  </tr>
  <tr> 	<th class="header_size" width="100">Sizing Guide</th>

	<th class="header_size" colspan="2">1X</th>
	<th class="header_size" colspan="2">2X</th>

	<th class="header_size" colspan="2">3X</th>

  </tr>
  <tr>
    <td class="col_size" id="LeftMain">U.S Sizes</td> 	<td class="col_size" width="75">14W</td>

	<td class="col_size" width="75">16W</td>

	<td class="col_size" width="75">18W</td>

	<td class="col_size" width="75">20W</td>
	<td class="col_size" width="75">22W</td>
	<td class="col_size" width="75">24W</td>
  </tr>

  <tr>
    <td class="col_size" id="LeftMain">Bust (inches)</td> 	<td class="col_size" width="75"> 40</td>

	<td class="col_size" width="75"> 42 </td>
	<td class="col_size" width="75"> 44 </td>

	<td class="col_size" width="75"> 46 </td>
	<td class="col_size" width="75">48</td>

	<td class="col_size" width="75">50</td>

  </tr>
  <tr>

    <td class="col_size" id="LeftMain">Waist (inches)</td> 	<td class="col_size" width="75"> 31 </td>

	<td class="col_size" width="75"> 33 </td>

	<td class="col_size" width="75"> 35 </td>

	<td class="col_size" width="75"> 37 </td>
	<td class="col_size" width="75">39.5</td>
	<td class="col_size" width="75">42</td>

  </tr>

  <tr>
    <td class="col_size" id="LeftMain">Hip (inches)</td> 	<td class="col_size" width="75"> 42 </td>

	<td class="col_size" width="75"> 44 </td>
	<td class="col_size" width="75"> 46 </td>

	<td class="col_size" width="75"> 48 </td>
	<td class="col_size" width="75">50.5</td>
	<td class="col_size" width="75">53</td>

  </tr>
  <tr>
    <td class="col_size" colspan="7" id="BlueHead">Pant Rise Guide</td>

  </tr>
  <tr>
    <td class="col_size" colspan="3" id="LeftMain">Sits above waist (inches) = 11-12 </td>
    <td class="col_size" colspan="4" id="LeftMain">Sits low on waist (inches) = 8.5-10 </td>

  </tr>
  <tr>
    <td class="col_size" colspan="3" id="LeftMain">Sits at waist (inches) = 10-11 </td>

    <td class="col_size" colspan="4" id="LeftMain">Sits ultra low on waist (inches) = 7-8.5 </td>
  </tr>
  <tr>
    <td class="col_size" colspan="7" id="Descriptions">Measurements refer to the distance between
      the top of the waistband and the crotch seam. </td>

  </tr>
  <tr>
    <td class="col_size" colspan="7" id="Descriptions">Tall Sizes: Women 5'7.5"-6'; sizes 6-16. Tops
      1-1.5" longer; pants inseam 2" longer and rise 1" longer; skirts and

dresses
    2-3" longer.</td>

  </tr>

  <tr>
    <td class="col_size" colspan="7" id="Descriptions">Women's Plus Sizes: Women 5'4"-5'9";
      sizes L-XXL or 14W-24W.</td>
  </tr>
</tbody></table>
            <br>
            <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="4" width="800">
  <tbody><tr>

    <th class="header_size" width="100">Women's Belts</th>

    <th class="header_size" width="30">XXXS</th>
    <th class="header_size" width="30">XS</th>
    <th class="header_size" width="30">XS</th>
    <th class="header_size" width="30">S</th>
    <th class="header_size" width="30">M</th>

    <th class="header_size" width="30">L</th>

    <th class="header_size" width="30">&nbsp;</th>
    <th class="header_size" width="30">&nbsp;</th>
  </tr>
  <tr>
    <td class="col_size">Inches</td>
    <td class="col_size">24</td>

    <td class="col_size">25.6</td>

    <td class="col_size">28</td>
    <td class="col_size">29.5</td>
    <td class="col_size">31</td>
    <td class="col_size">33.5</td>

    <td class="col_size">&nbsp;</td>

    <td class="col_size">&nbsp;</td>
  </tr>

  <tr>
    <td class="col_size">Centimeters</td>
    <td class="col_size">60</td>
    <td class="col_size">65</td>

    <td class="col_size">70</td>

    <td class="col_size">75</td>

    <td class="col_size">80</td>
    <td class="col_size">85</td>
    <td class="col_size">90</td>

    <td class="col_size">95</td>
  </tr>

  <tr>
    <td class="col_size">Waist (inches)</td>

    <td class="col_size">20</td>
    <td class="col_size">22</td>

    <td class="col_size">24</td>
    <td class="col_size">26</td>

    <td class="col_size">28</td>
    <td class="col_size">30</td>

    <td class="col_size">32</td>

    <td class="col_size">34</td>
  </tr>

</tbody></table>

            <br>

            <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="4" width="800">
  <tbody><tr> 	<td class="col_size" colspan="8" id="BlueHead"><a name="womenpetite"></a>WOMEN'S

PETITE SIZE GUIDE</td>

  </tr>

  <tr> 	<th class="header_size" width="114">Sizing Guide</th>
	<th class="header_size">P/XS</th>

	<th class="header_size" colspan="2">P/S</th>
	<th class="header_size" colspan="2">P/M</th>
	<th class="header_size" colspan="2">P/L</th>

  </tr>
  <tr>
    <td class="col_size" id="LeftMain">U.S Sizes</td> 	<td class="col_size" width="70">2P</td>

	<td class="col_size" width="71">4P</td>
	<td class="col_size" width="69">6P</td>

	<td class="col_size" width="43">8P</td>

	<td class="col_size" width="74">10P</td>
	<td class="col_size" width="74">12P</td>
	<td class="col_size" width="80">14P</td>

  </tr>

  <tr>
    <td class="col_size" id="LeftMain">Bust (inches)</td> 	<td class="col_size" width="70">32</td>

	<td class="col_size" width="71"> 33 </td>
	<td class="col_size" width="69"> 34 </td>

	<td class="col_size" width="43"> 35 </td>
	<td class="col_size" width="74"> 36 </td>
	<td class="col_size" width="74">37.5</td>

	<td class="col_size" width="80">39</td>
  </tr>

  <tr>
    <td class="col_size" id="LeftMain">Waist (inches)</td> 	<td class="col_size" width="70">23.5</td>
	<td class="col_size" width="71"> 24.5 </td>
	<td class="col_size" width="69"> 25.5 </td>

	<td class="col_size" width="43"> 26.5 </td>

	<td class="col_size" width="74"> 27.5 </td>
	<td class="col_size" width="74">29</td>
	<td class="col_size" width="80">30.5</td>
  </tr>

  <tr>

    <td class="col_size" id="LeftMain">Hip (inches)</td> 	<td class="col_size" width="70">34</td>

	<td class="col_size" width="71"> 35 </td>
	<td class="col_size" width="69"> 36 </td>

	<td class="col_size" width="43"> 37 </td>

	<td class="col_size" width="74"> 38 </td>

	<td class="col_size" width="74">39.5</td>
	<td class="col_size" width="80">41</td>

  </tr>
</tbody></table>

            <br>
            <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="4" width="800">

  <tbody><tr>
    <td class="col_size" colspan="9" id="BlueHead"><a name="men" id="men"></a>MEN'S SIZE

GUIDE</td>

  </tr>
  <tr>

    <td class="col_size" colspan="9" id="Underhead">Standard Size Equivalents (Inches)</td>
  </tr>
  <tr>
    <th class="header_size">U.S. Sizes</th>

    <th class="header_size" width="55">XS</th>

    <th class="header_size" width="55">S</th>

    <th class="header_size" width="55">M</th>
    <th class="header_size" width="55">L</th>
    <th class="header_size" width="55">XL</th>
    <th class="header_size" width="55">2XL</th>

    <th class="header_size" width="55">3XL</th>

    <th class="header_size" width="55">4XL</th>
  </tr>

  <tr>
    <td class="col_size" id="LeftMain">Neck</td>
    <td class="col_size">13-13.5"</td>

    <td class="col_size">14-14.5"</td>

    <td class="col_size">15-15.5"</td>
    <td class="col_size">16-16.5"</td>
    <td class="col_size">17-17.5"</td>
    <td class="col_size">18-18.5"</td>
    <td class="col_size">19-19.5"</td>

    <td class="col_size">20-20.5"</td>

  </tr>
  <tr>
    <td class="col_size" id="LeftMain">Chest</td>
    <td class="col_size"> 33-34"</td>
    <td class="col_size"> 35-37"</td>

    <td class="col_size"> 38-40"</td>

    <td class="col_size"> 42-44"</td>
    <td class="col_size">46-48"</td>
    <td class="col_size">50-52"</td>
    <td class="col_size"> 54-56"</td>

    <td class="col_size">58-60"</td>

  </tr>
  <tr>
    <td class="col_size" id="LeftMain">Sleeve</td>
    <td class="col_size"> 31.5-32"</td>
    <td class="col_size"> 32.5-33"</td>

    <td class="col_size"> 33.5-34"</td>

    <td class="col_size"> 34.5-35"</td>
    <td class="col_size">35.5-36"</td>
    <td class="col_size">36-36.5"</td>
    <td class="col_size"> 36.5-37"</td>

    <td class="col_size">37-37.5"</td>

  </tr>
  <tr>
    <td class="col_size" id="LeftMain">Waist</td>
    <td class="col_size"> 27-28"</td>
    <td class="col_size"> 29-31"</td>

    <td class="col_size"> 32-34"</td>

    <td class="col_size"> 36-38"</td>
    <td class="col_size">40-42"</td>
    <td class="col_size">44-48"</td>
    <td class="col_size"> 50-52"</td>

    <td class="col_size">52-54"</td>

  </tr>
  <tr align="left">

    <td class="col_size" colspan="9" id="Underhead"><div align="left">Blazer/Suit
          sizes correspond to your chest size.<br>
          Sock size corresponds to shoe size.</div>
    </td>

  </tr>

  <tr align="left">

    <td class="col_size" colspan="9" id="Descriptions">Tall Sizes: Men 5'11.5"-6'3". Shirts

2" longer
    in the body; long sleeves 1.5" longer; short sleeves 3/4" longer.</td>
  </tr>
  <tr align="left">

    <td class="col_size" id="BlueHead" colspan="9">Suits</td>

  </tr>
  <tr align="left">
    <td class="col_size" id="Underhead" colspan="9">Sizes 36-42: Subtract 6 to get the pant size.<br>
	Sizes 44-46: Subtract 5 to get the pant size.<br>
	Sizes 48+: Subtract 4 to get the pant size.
	</td>
  </tr>

</tbody></table>

            <br>
            <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="4" width="800">

  <tbody><tr>
    <th class="header_size" width="100">Men's Belts</th>

    <th class="header_size" width="30">XS</th>
    <th class="header_size" width="30">S</th>

    <th class="header_size" width="30">M</th>
    <th class="header_size" width="30">M</th>

    <th class="header_size" width="30">M</th>
    <th class="header_size" width="30">L</th>

    <th class="header_size" width="30">L</th>
    <th class="header_size" width="30">L</th>

    <th class="header_size" width="30">L</th>

    <th class="header_size" width="30">XL</th>
    <th class="header_size" width="30">XL</th>
    <th class="header_size" width="30">2XL</th>

    <th class="header_size" width="30">3XL</th>
    <th class="header_size" width="30">&nbsp;</th>

  </tr>

  <tr>
    <td class="col_size">Inches</td>
    <td class="col_size">31</td>

    <td class="col_size">33</td>
    <td class="col_size">33.5</td>

    <td class="col_size">35.4</td>
    <td class="col_size">35.5</td>
    <td class="col_size">37</td>
    <td class="col_size">37.4</td>

    <td class="col_size">38.25</td>
    <td class="col_size">39.4</td>

    <td class="col_size">41.3</td>
    <td class="col_size">43.3</td>
    <td class="col_size">45.28</td>
    <td class="col_size">47.2</td>

    <td class="col_size">&nbsp;</td>
  </tr>

  <tr>

    <td class="col_size">Centimeters</td>
    <td class="col_size">80</td>
    <td class="col_size">83.8</td>
    <td class="col_size">85</td>

    <td class="col_size">90</td>

    <td class="col_size">90.17</td>

    <td class="col_size">94</td>
    <td class="col_size">95</td>
    <td class="col_size">97.15</td>
    <td class="col_size">100</td>

    <td class="col_size">105</td>
    <td class="col_size">110</td>

    <td class="col_size">115</td>
    <td class="col_size">120</td>
    <td class="col_size">125</td>
  </tr>

  <tr>
    <td class="col_size">Waist (inches)</td>
    <td class="col_size">28</td>

    <td class="col_size">29</td>
    <td class="col_size">30</td>
    <td class="col_size">32</td>

    <td class="col_size">32</td>
    <td class="col_size">33</td>
    <td class="col_size">34</td>

    <td class="col_size">35</td>
    <td class="col_size">36</td>

    <td class="col_size">38</td>

    <td class="col_size">40</td>
    <td class="col_size">42</td>
    <td class="col_size">44</td>

    <td class="col_size">46</td>

  </tr>
</tbody></table>
            <br>

            <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="4" width="800">
  <tbody><tr> 	<td class="col_size" colspan="8" id="BlueHead"><a name="child" id="child"></a>CHILDREN'S

SIZE GUIDE</td>
  </tr>
  <tr> 	<th class="header_size">Newborn</th>

	<th class="header_size" width="60">0-3M(S)</th>
	<th class="header_size" width="60">3-6M(M)</th>

	<th class="header_size" width="60">6-9M(L)</th>
	<td class="col_size" width="60"></td>
	<td class="col_size" width="60"></td>
	<td class="col_size" width="60"></td>
  <td class="col_size" width="60"></td>

  </tr>
  <tr> 	<td class="col_size" id="LeftMain">Height(in)</td>

	<td class="col_size">19-23</td>
	<td class="col_size">24-26</td>

	<td class="col_size">27-28</td>

	<td class="col_size">&nbsp;</td>

	<td class="col_size">&nbsp;</td>
	<td class="col_size">&nbsp;</td>

    <td class="col_size">&nbsp;</td>
  </tr>
  <tr> 	<td class="col_size" id="LeftMain">Weight(lb)</td>
	<td class="col_size">4-11</td>

	<td class="col_size">12-15</td>

	<td class="col_size">16-18</td>

	<td class="col_size">&nbsp;</td>
	<td class="col_size">&nbsp;</td>
	<td class="col_size">&nbsp;</td>
    <td class="col_size">&nbsp;</td>
  </tr>

  <tr>
    <th class="header_size">Infant</th>

    <th class="header_size">12M(S)</th>

    <th class="header_size">18M(M)</th>
    <th class="header_size">24M(L)</th>
    <td class="col_size"></td>

    <td class="col_size"></td>
    <td class="col_size"></td>
    <td class="col_size"></td>

  </tr>

   <tr> 	<td class="col_size" id="LeftMain">Height(in)</td>
	<td class="col_size">29-30</td>

	<td class="col_size">31-32</td>
	<td class="col_size">33-35</td>
	<td class="col_size">&nbsp;</td>

	<td class="col_size">&nbsp;</td>

	<td class="col_size">&nbsp;</td>
    <td class="col_size">&nbsp;</td>
  </tr>

  <tr> 	<td class="col_size" id="LeftMain">Weight(lb)</td>
	<td class="col_size">19-20</td>
	<td class="col_size">21-23</td>

	<td class="col_size">24-28</td>
	<td class="col_size">&nbsp;</td>
	<td class="col_size">&nbsp;</td>

	<td class="col_size">&nbsp;</td>
    <td class="col_size">&nbsp;</td>
  </tr>
    <tr> 	<th class="header_size">Toddler</th>

	<th class="header_size" width="60">2T(S)</th>
	<th class="header_size" width="60">3T(M)</th>

	<th class="header_size" width="60">4T/4(L)</th>
	<td class="col_size" width="60"></td>
	<td class="col_size" width="60"></td>
	<td class="col_size" width="60"></td>
    <td class="col_size" width="60"></td>

  </tr>
  <tr> 	<td class="col_size" id="LeftMain">Height(in)</td>

	<td class="col_size">33-35.5</td>
	<td class="col_size">36-38.5</td>
	<td class="col_size">39-41</td>
	<td class="col_size">&nbsp;</td>

	<td class="col_size">&nbsp;</td>
	<td class="col_size">&nbsp;</td>
    <td class="col_size">&nbsp;</td>

  </tr>
  <tr> 	<td class="col_size" id="LeftMain">Weight(lb)</td>
	<td class="col_size">24-28</td>
	<td class="col_size">28.5-32</td>

	<td class="col_size">33-36</td>
	<td class="col_size">&nbsp;</td>

	<td class="col_size">&nbsp;</td>
	<td class="col_size">&nbsp;</td>
    <td class="col_size">&nbsp;</td>
  </tr>
  <tr>
    <th class="header_size">Kids</th>

    <th class="header_size">4(S)</th>

    <th class="header_size">5(M)</th>
    <th class="header_size">6(L)</th>
    <th class="header_size">6X/7(XL)</th>
    <td class="col_size"></td>
    <td class="col_size"></td>

    <td class="col_size"></td>

  </tr>
   <tr> 	<td class="col_size" id="LeftMain">Height(in)</td>
	<td class="col_size">42-44</td>
	<td class="col_size">45-47</td>
	<td class="col_size">48-49</td>

	<td class="col_size">50-51</td>

	<td class="col_size">&nbsp;</td>
	<td class="col_size">&nbsp;</td>
    <td class="col_size">&nbsp;</td>
  </tr>
  <tr> 	<td class="col_size" id="LeftMain">Weight(lb)</td>
	<td class="col_size">37-41</td>

	<td class="col_size">42-46</td>

	<td class="col_size">47-53</td>
	<td class="col_size">54-58</td>
	<td class="col_size">&nbsp;</td>
	<td class="col_size">&nbsp;</td>
    <td class="col_size">&nbsp;</td>
  </tr>

    <tr> 	<th class="header_size">Girls</th>

	<th class="header_size" width="60">7(S)</th>
	<th class="header_size" width="60">8(S)</th>
	<th class="header_size" width="60">10(M)</th>
	<th class="header_size" width="60">12(L)</th>

	<th class="header_size" width="60">14(L)</th>
	<th class="header_size" width="60">16(XL)</th>

    <td class="col_size" width="60"></td>
  </tr>
  <tr> 	<td class="col_size" id="LeftMain">Height(in)</td>
	<td class="col_size">51-52</td>

	<td class="col_size">53-54</td>
	<td class="col_size">55-57</td>

	<td class="col_size">58-59</td>
	<td class="col_size">60-62</td>
	<td class="col_size">63-64</td>

    <td class="col_size">&nbsp;</td>

  </tr>
  <tr> 	<td class="col_size" id="LeftMain">Bust(in)</td>

	<td class="col_size">26.5</td>
	<td class="col_size">27.5</td>
	<td class="col_size">29</td>

	<td class="col_size">30.5</td>

	<td class="col_size">32</td>
	<td class="col_size">33.5</td>

    <td class="col_size">&nbsp;</td>
  </tr>
    <tr> 	<td class="col_size" id="LeftMain">Waist(in)</td>

	<td class="col_size">23</td>

	<td class="col_size">23.5</td>
	<td class="col_size">24.5</td>

	<td class="col_size">25.5</td>
	<td class="col_size">26.5</td>

	<td class="col_size">27.5</td>
    <td class="col_size">&nbsp;</td>

  </tr>
  <tr> 	<td class="col_size" id="LeftMain">Hips(in)</td>

	<td class="col_size">28</td>
	<td class="col_size">29</td>

	<td class="col_size">30.5</td>
	<td class="col_size">32.5</td>

	<td class="col_size">34.5</td>
	<td class="col_size">36.5</td>

    <td class="col_size">&nbsp;</td>
  </tr>

  <tr>
    <th class="header_size">Boys</th>
    <th class="header_size">8(S)</th>

    <th class="header_size">10(M)</th>
    <th class="header_size">12(M)</th>

    <th class="header_size">14(L)</th>

    <th class="header_size">16(L)</th>
    <th class="header_size">18(XL)</th>
    <th class="header_size">20(XL)</th>

  </tr>
   <tr> 	<td class="col_size" id="LeftMain">Height(in)</td>

	<td class="col_size">50-53</td>
	<td class="col_size">54-57</td>
	<td class="col_size">58-60</td>
	<td class="col_size">61-63</td>

	<td class="col_size">64-65</td>
	<td class="col_size">65-66</td>

    <td class="col_size">67-68</td>
  </tr>
  <tr> 	<td class="col_size" id="LeftMain">Chest(in)</td>
	<td class="col_size">27</td>

	<td class="col_size">28.5</td>

	<td class="col_size">30</td>

	<td class="col_size">32</td>
	<td class="col_size">33.5</td>
	<td class="col_size">35</td>
    <td class="col_size">37</td>

  </tr>
     <tr> 	<td class="col_size" id="LeftMain">Waist(in)</td>

	<td class="col_size">23.5</td>
	<td class="col_size">25</td>
	<td class="col_size">26</td>
	<td class="col_size">27</td>

	<td class="col_size">28</td>
	<td class="col_size">29</td>

    <td class="col_size">30</td>
  </tr>
  <tr> 	<td class="col_size" id="LeftMain">Hips(in)</td>

	<td class="col_size">27.5</td>

	<td class="col_size">29.5</td>
	<td class="col_size">31.5</td>

	<td class="col_size">33.5</td>
	<td class="col_size">35.5</td>

	<td class="col_size">37.5</td>
    <td class="col_size">39.5</td>

  </tr>
</tbody></table>
<br>
            <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="4" width="800">

  <tbody><tr> 	<td class="col_size" colspan="2" id="BlueHead"><a name="measure" id="womenshoe"></a>HOW TO
	  MEASURE FOR THE RIGHT SIZE</td>

  </tr>
  <tr> 	<th class="header_size" width="150">Bust:</th>
	<td class="col_size" id="LeftMain" width="450"><div align="left">Measure
around the fullest part of bust under arms with arms relaxed down at
sides. </div></td>

  </tr>
  <tr> 	<th class="header_size" width="150">Chest:</th>

	<td class="col_size" id="LeftMain" width="450"><div align="left">Measure
around chest just under arms across shoulder blades with arms relaxed
down at sides. </div></td>
  </tr>
  <tr> 	<th class="header_size" width="150">Coat/Dress Length:</th>
	<td class="col_size" id="LeftMain" width="450"><div align="left">Measure from the highest

point of the shoulder down.</div></td>

  </tr>
  <tr> 	<th class="header_size" width="150">Height:</th>

	<td class="col_size" id="LeftMain" width="450"><div align="left">Measure from top of head

down standing barefoot on a hard
    flat surface with normal posture.</div></td>
  </tr>
  <tr> 	<th class="header_size" width="150">Hips:</th>
	<td class="col_size" id="LeftMain" width="450"><div align="left">Measure around fullest part

of body at the top of legs
    with feet together.</div></td>

  </tr>
  <tr> 	<th class="header_size" width="150">Inseam:</th>

	<td class="col_size" id="LeftMain" width="450"><div align="left">Measure from inside crotch

seam to the hem of pants that
	    fit you well.</div></td>
  </tr>
  <tr> 	<th class="header_size" width="150">Waist:</th>
	<td class="col_size" id="LeftMain" width="450"><div align="left">Measure around natural

waistline which appears as crease
	    when bending to one side.</div></td>

  </tr>
  <tr> 	<th class="header_size" width="150">Neck:</th>

	<td class="col_size" id="LeftMain" width="450"><div align="left">Measure around fullest part

of neck.</div></td>
  </tr>
  <tr> 	<th class="header_size" width="150">Rise:</th>
	<td class="col_size" id="LeftMain" width="450"><div align="left">Measure from the crotch to

top of waistband.</div></td>

  </tr>
  <tr> 	<th class="header_size" width="150">Skirt Length:</th>

	<td class="col_size" id="LeftMain" width="450"><div align="left">Measure from the waist

down. Skirts are measured from
    center front. Skirts with waistbands are measured from seams down. Skirts
	    without waistbands are measured from top down.</div></td>
  </tr>
  <tr> 	<th class="header_size" width="150">Sleeve:</th>
	<td class="col_size" id="LeftMain" width="450"><div align="left">Measure from center back

of neck, over point of shoulder,
    and down outside of arm past elbow to wrist with arm relaxed at side.</div></td>

  </tr>
</tbody></table>

<br>

<a name="mensShoes" id="mensShoes"></a>
            <table align="center" border="0" cellpadding="5" cellspacing="0" width="800">
  <tbody><tr>
    <th class="header_size" id="LeftMain">
<a name="shoes" id="shoes"></a>Footwear size conversions can vary depending on the

manufacturer. For exact sizing,
  please refer to the manufacturer's website if available.</th>
  </tr>
</tbody></table>

            <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="4" width="790">
  <tbody><tr>

    <td class="col_size" colspan="17" id="BlueHead">MEN'S SHOE SIZES </td>

  </tr>
  <tr>
    <th class="header_size" id="LeftMain">U.S. &amp; Canada </th>

    <td class="col_size" width="50">5</td>
    <td class="col_size" width="50">5.5</td>

    <td class="col_size" width="50">6</td>

    <td class="col_size" width="50">6.5</td>
    <td class="col_size" width="50">7</td>
    <td class="col_size" width="50">7.5</td>

    <td class="col_size" width="50">8</td>

    <td class="col_size" width="50">8.5</td>
    <td class="col_size" width="50">9</td>

    <td class="col_size" width="50">9.5</td>
    <td class="col_size" width="50">10</td>
    <td class="col_size" width="50">10.5</td>

    <td class="col_size" width="50">11</td>
    <td class="col_size" width="50">11.5</td>
    <td class="col_size" width="50">12</td>

    <td class="col_size" width="50">12.5</td>
		<td class="col_size" width="50">13</td>
		<td class="col_size" width="50">13.5</td>

		<td class="col_size" width="50">14</td>
		<td class="col_size" width="50">14.5</td>
		<td class="col_size" width="50">15</td>

		<td class="col_size" width="50">15.5</td>
  </tr>
  <tr>

    <th class="header_size" id="LeftMain">U.K. </th>
    <td class="col_size">4.5</td>
		<td class="col_size">5</td>
		<td class="col_size">5.5</td>

    <td class="col_size">6</td>

		<td class="col_size">6.5</td>

    <td class="col_size">7</td>
    <td class="col_size">7.5</td>
    <td class="col_size">8</td>
    <td class="col_size">8.5</td>

    <td class="col_size">9</td>
    <td class="col_size">9.5</td>

    <td class="col_size">10</td>
    <td class="col_size">10.5</td>
    <td class="col_size">11</td>
    <td class="col_size">11.5</td>

    <td class="col_size">12</td>
    <td class="col_size">12.5</td>

    <td class="col_size">13</td>
		<td class="col_size">13.5</td>
		<td class="col_size">14</td>

		<td class="col_size">14.5</td>

		<td class="col_size">15</td>
  </tr>

   <tr>
    <th class="header_size" id="LeftMain">Europe</th>
    <td class="col_size">38</td>

		<td class="col_size">38.5</td>
		<td class="col_size">39</td>

		<td class="col_size">39.5</td>

    <td class="col_size">40</td>
    <td class="col_size">40.5</td>

    <td class="col_size">41</td>
		<td class="col_size">41.5</td>
    <td class="col_size">42</td>

    <td class="col_size">42.5</td>

    <td class="col_size">43</td>

    <td class="col_size">43.5</td>
    <td class="col_size">44</td>
    <td class="col_size">44.5</td>
    <td class="col_size">45</td>

    <td class="col_size">45.5</td>

		<td class="col_size">46</td>
		<td class="col_size">46.5</td>
		<td class="col_size">47</td>
		<td class="col_size">47.5</td>
		<td class="col_size">48</td>

		<td class="col_size">48.5</td>

  </tr>
  <tr>
    <th class="header_size" id="LeftMain">Mexico</th>
    <td class="col_size">3.5</td>
		<td class="col_size">4</td>
    <td class="col_size">4.5</td>

    <td class="col_size">5</td>
    <td class="col_size">5.5</td>
    <td class="col_size">6</td>
    <td class="col_size">6.5</td>
    <td class="col_size">7</td>
    <td class="col_size">7.5</td>

    <td class="col_size">8</td>
    <td class="col_size">8.5</td>
    <td class="col_size">9</td>
    <td class="col_size">9.5</td>
    <td class="col_size">10</td>
    <td class="col_size">10.5</td>

		<td class="col_size">11</td>
		<td class="col_size">11.5</td>
		<td class="col_size">12</td>
		<td class="col_size">12.5</td>
		<td class="col_size">13</td>
		<td class="col_size">13.5</td>

		<td class="col_size">14</td>
  </tr>
  <tr>
    <th class="header_size" id="LeftMain">Japan </th>
    <td class="col_size">24.0</td>
    <td class="col_size">24.5</td>

    <td class="col_size">25.0</td>

    <td class="col_size">25.5</td>
    <td class="col_size">26.0</td>
    <td class="col_size">26.5</td>
    <td class="col_size">27.5</td>

    <td class="col_size">28.0</td>

    <td class="col_size">28.0</td>

    <td class="col_size">28.5</td>
    <td class="col_size">29.5</td>
    <td class="col_size">29.5</td>

    <td class="col_size">30.5</td>
    <td class="col_size">30.5</td>

    <td class="col_size">31.0</td>

    <td class="col_size">31.5</td>
		<td class="col_size">&nbsp;</td>
		<td class="col_size">&nbsp;</td>

		<td class="col_size">&nbsp;</td>
		<td class="col_size">&nbsp;</td>
		<td class="col_size">&nbsp;</td>

		<td class="col_size">&nbsp;</td>
  </tr>

  <tr>
    <th class="header_size" id="LeftMain">Australia</th>

    <td class="col_size">5.5</td>
    <td class="col_size">6</td>
    <td class="col_size">6.5</td>

    <td class="col_size">7</td>

    <td class="col_size">7.5</td>

    <td class="col_size">8</td>
    <td class="col_size">8.5</td>
    <td class="col_size">9</td>
    <td class="col_size">9.5</td>

    <td class="col_size">10</td>

    <td class="col_size">10.5</td>
    <td class="col_size">11</td>
    <td class="col_size">11.5</td>
    <td class="col_size">12</td>
    <td class="col_size">12.5</td>

    <td class="col_size">13</td>

		<td class="col_size">&nbsp;</td>
		<td class="col_size">&nbsp;</td>
		<td class="col_size">&nbsp;</td>
		<td class="col_size">&nbsp;</td>
		<td class="col_size">&nbsp;</td>
		<td class="col_size">&nbsp;</td>
  </tr>

</tbody></table>

<br>

<a name="womwnsShoes" id="womensShoes"></a>
            <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="4" width="790">

  <tbody><tr>
    <td class="col_size" colspan="15" id="BlueHead">WOMEN'S SHOE SIZES </td>
  </tr>

  <tr>

    <th class="header_size" id="LeftMain" width="100">U.S. &amp; Canada</th>

    <td class="col_size">4</td>
		<td class="col_size">4.5</td>
    <td class="col_size">5</td>
    <td class="col_size">5.5</td>

    <td class="col_size">6</td>

    <td class="col_size">6.5</td>

    <td class="col_size">7</td>
    <td class="col_size">7.5</td>
    <td class="col_size">8</td>
    <td class="col_size">8.5</td>

    <td class="col_size">9</td>
    <td class="col_size">9.5</td>

    <td class="col_size">10</td>
    <td class="col_size">10.5</td>
    <td class="col_size">11</td>
    <td class="col_size">11.5</td>

		<td class="col_size">12</td>
		<td class="col_size">12.5</td>

  </tr>

  <tr>
    <th class="header_size" id="LeftMain">U.K.</th>
		<td class="col_size">2</td>

		<td class="col_size">2.5</td>
    <td class="col_size">3</td>

		<td class="col_size">3.5</td>
    <td class="col_size">4</td>
    <td class="col_size">4.5</td>

    <td class="col_size">5</td>

    <td class="col_size">5.5</td>
    <td class="col_size">6</td>

    <td class="col_size">6.5</td>
    <td class="col_size">7</td>

    <td class="col_size">7.5</td>
    <td class="col_size">8</td>

    <td class="col_size">8.5</td>
    <td class="col_size">9</td>

    <td class="col_size">9.5</td>

    <td class="col_size">10</td>
		<td class="col_size">10.5</td>
  </tr>

  <tr>
    <th class="header_size" id="LeftMain">Italy</th>
    <td class="col_size">34</td>

    <td class="col_size">34.5</td>
		<td class="col_size">35</td>
    <td class="col_size">35.5</td>

    <td class="col_size">36</td>
		<td class="col_size">36.5</td>

    <td class="col_size">37</td>

    <td class="col_size">37.5</td>
    <td class="col_size">38</td>
    <td class="col_size">38.5</td>

    <td class="col_size">39</td>

		<td class="col_size">39.5</td>
    <td class="col_size">40</td>

    <td class="col_size">41</td>
    <td class="col_size">42</td>
		<td class="col_size">43</td>

		<td class="col_size">44</td>
		<td class="col_size">45</td>
  </tr>

  <tr>
    <th class="header_size" id="LeftMain">France</th>
    <td class="col_size">35</td>

    <td class="col_size">35.5</td>
		<td class="col_size">36</td>
    <td class="col_size">36.5</td>

    <td class="col_size">37</td>
		<td class="col_size">37.5</td>

    <td class="col_size">38</td>

    <td class="col_size">38.5</td>
    <td class="col_size">39</td>
    <td class="col_size">39.5</td>

    <td class="col_size">40</td>

		<td class="col_size">40.5</td>
    <td class="col_size">41</td>

    <td class="col_size">41.5</td>
    <td class="col_size">42</td>
		<td class="col_size">42.5</td>

		<td class="col_size">43</td>
		<td class="col_size">43.5</td>
  </tr>

  <tr>
    <th class="header_size" id="LeftMain">Mexico</th>
    <td class="col_size">1.5</td>

    <td class="col_size">2</td>

    <td class="col_size">2.5</td>
    <td class="col_size">3</td>

    <td class="col_size">3.5</td>
		<td class="col_size">4</td>

    <td class="col_size">4.5</td>
    <td class="col_size">5</td>

    <td class="col_size">5.5</td>
    <td class="col_size">6</td>

    <td class="col_size">6.5</td>

    <td class="col_size">7</td>
    <td class="col_size">7.5</td>
		<td class="col_size">8</td>

		<td class="col_size">8.5</td>
    <td class="col_size">9</td>

		<td class="col_size">9.5</td>
		<td class="col_size">10</td>
  </tr>
  <tr>
    <th class="header_size" id="LeftMain">Japan</th>

    <td class="col_size">21</td>

    <td class="col_size">22</td>
    <td class="col_size">22</td>
    <td class="col_size">23</td>
    <td class="col_size">23</td>
    <td class="col_size">24</td>

    <td class="col_size">24</td>

    <td class="col_size">24.5</td>
    <td class="col_size">25</td>
    <td class="col_size">25</td>
    <td class="col_size">25.5</td>
    <td class="col_size">&nbsp;</td>

    <td class="col_size">26</td>

    <td class="col_size">26</td>
		<td class="col_size">&nbsp;</td>
    <td class="col_size">&nbsp;</td>
		<td class="col_size">&nbsp;</td>
    <td class="col_size">&nbsp;</td>
  </tr>

  <tr>

    <th class="header_size" id="LeftMain">Australia</th>

		<td class="col_size">&nbsp;</td>
		<td class="col_size">&nbsp;</td>
		<td class="col_size">&nbsp;</td>
    <td class="col_size">3.5</td>
    <td class="col_size">4</td>

    <td class="col_size">4.5</td>

    <td class="col_size">5</td>

    <td class="col_size">5.5</td>
    <td class="col_size">6</td>
    <td class="col_size">6.5</td>

    <td class="col_size">7</td>
    <td class="col_size">7.5</td>

    <td class="col_size">8</td>

    <td class="col_size">8.5</td>
    <td class="col_size">&nbsp;</td>
    <td class="col_size">9</td>

    <td class="col_size">10.5</td>
		<td class="col_size">&nbsp;</td>
  </tr>

</tbody></table>

<br>

<a name="kidsShoes" id="kidsShoes"></a>
            <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="4" width="790">
  <tbody><tr> 	<td class="col_size" colspan="22" id="BlueHead">KIDS SHOES SIZES</td>

  </tr>
	<tr>
		<th class="header_size" colspan="22">Infant 0-12 Months</th>
	</tr><tr>

		<td class="col_size" id="LeftMain" width="200">US &amp; Canada</td>
		<td class="col_size" width="50">0.5</td>

		<td class="col_size" width="50">1</td>
		<td class="col_size" width="50">1.5</td>
		<td class="col_size" width="50">2</td>

		<td class="col_size" width="50">2.5</td>
		<td class="col_size" width="50">3</td>
		<td class="col_size" width="50">3.5</td>

		<td class="col_size" width="50">4</td>
		<td class="col_size" class="blankCell" colspan="13">&nbsp;</td>
  </tr>

	<tr>

		<td class="col_size" id="LeftMain">Europe</td>
		<td class="col_size">16</td>

		<td class="col_size">16</td>
		<td class="col_size">17</td>
		<td class="col_size">17</td>

		<td class="col_size">18</td>

		<td class="col_size">18</td>

		<td class="col_size">19</td>
		<td class="col_size">19</td>
		<td class="col_size" class="blankCell" colspan="13">&nbsp;</td>
  </tr>

	<tr>
		<td class="col_size" id="LeftMain">U.K./Australia/NZ</td>

		<td class="col_size">0</td>
		<td class="col_size">.5</td>
		<td class="col_size">1</td>
		<td class="col_size">1</td>

		<td class="col_size">1.5</td>
		<td class="col_size">2</td>

		<td class="col_size">2.5</td>
		<td class="col_size">3</td>
		<td class="col_size" class="blankCell" colspan="13">&nbsp;</td>
  </tr>

	<tr>
		<th class="header_size" colspan="22">Toddler 1-4 years</th>
	</tr><tr>

		<td class="col_size" id="LeftMain">US &amp; Canada</td>

		<td class="col_size">2</td>
		<td class="col_size">2.5</td>

		<td class="col_size">3</td>
		<td class="col_size">3.5</td>

		<td class="col_size">4</td>
		<td class="col_size">4.5</td>

		<td class="col_size">5</td>
		<td class="col_size">5.5</td>

		<td class="col_size">6</td>

		<td class="col_size">6.5</td>
		<td class="col_size">7</td>
		<td class="col_size">7.5</td>

		<td class="col_size">8</td>
		<td class="col_size">8.5</td>

		<td class="col_size">9</td>
		<td class="col_size">9.5</td>
		<td class="col_size">10</td>
		<td class="col_size">10.5</td>

		<td class="col_size">11</td>
		<td class="col_size">11.5</td>

		<td class="col_size">12</td>
  </tr>
	<tr>
		<td class="col_size" id="LeftMain">Europe</td>
		<td class="col_size">17</td>

		<td class="col_size">18</td>

		<td class="col_size">18</td>
		<td class="col_size">19</td>
		<td class="col_size">19</td>
		<td class="col_size">20</td>
		<td class="col_size">20</td>

		<td class="col_size">21</td>

		<td class="col_size">22</td>
		<td class="col_size">22</td>
		<td class="col_size">23</td>
		<td class="col_size">23</td>
		<td class="col_size">24</td>

		<td class="col_size">25</td>

		<td class="col_size">25</td>
		<td class="col_size">26</td>
		<td class="col_size">27</td>
		<td class="col_size">27</td>

		<td class="col_size">28</td>

		<td class="col_size">29</td>

		<td class="col_size">30</td>
  </tr>
	<tr>
		<td class="col_size" id="LeftMain">U.K./Australia/NZ</td>

		<td class="col_size">1</td>
		<td class="col_size">1.5</td>

		<td class="col_size">2</td>
		<td class="col_size">2.5</td>
		<td class="col_size">3</td>
		<td class="col_size">3.5</td>

		<td class="col_size">4</td>
		<td class="col_size">4.5</td>

		<td class="col_size">5</td>
		<td class="col_size">5.5</td>
		<td class="col_size">6</td>
		<td class="col_size">6.5</td>

		<td class="col_size">7</td>
		<td class="col_size">7.5</td>

		<td class="col_size">8</td>
		<td class="col_size">8.5</td>
		<td class="col_size">9</td>
		<td class="col_size">9.5</td>

		<td class="col_size">10</td>
		<td class="col_size">10.5</td>

		<td class="col_size">11</td>
	</tr>
		<tr>
		<th class="header_size" colspan="22">Little Kids 4-8 years</th>
	</tr><tr>

		<td class="col_size" id="LeftMain">US &amp; Canada</td>

		<td class="col_size">10</td>

		<td class="col_size">10.5</td>
		<td class="col_size">11</td>
		<td class="col_size">11.5</td>

		<td class="col_size">12</td>
		<td class="col_size">12.5</td>

		<td class="col_size">13</td>

		<td class="col_size">13.5</td>
		<td class="col_size" width="50">1</td>

		<td class="col_size" width="50">1.5</td>
		<td class="col_size" width="50">2</td>
		<td class="col_size" width="50">2.5</td>

		<td class="col_size" width="50">3</td>

		<td class="col_size" class="blankCell" colspan="8">&nbsp;</td>
	</tr>

	<tr>
		<td class="col_size" id="LeftMain">Europe</td>
		<td class="col_size">27</td>
		<td class="col_size">27</td>

		<td class="col_size">28</td>

		<td class="col_size">29</td>

		<td class="col_size">30</td>
		<td class="col_size">30</td>
		<td class="col_size">31</td>
		<td class="col_size">31</td>

		<td class="col_size">32</td>

		<td class="col_size">33</td>
		<td class="col_size">33</td>
		<td class="col_size">34</td>
		<td class="col_size">34</td>
		<td class="col_size" class="blankCell" colspan="8">&nbsp;</td>

	</tr>

	<tr>

		<td class="col_size" id="LeftMain">U.K./Australia/NZ</td>
		<td class="col_size">9</td>
		<td class="col_size">9.5</td>
		<td class="col_size">10</td>

		<td class="col_size">10.5</td>

		<td class="col_size">11</td>

		<td class="col_size">11.5</td>
		<td class="col_size">12</td>
		<td class="col_size">12.5</td>
		<td class="col_size">13</td>

		<td class="col_size">13.5</td>
		<td class="col_size" width="50">1</td>

		<td class="col_size" width="50">1.5</td>
		<td class="col_size" width="50">2</td>
		<td class="col_size" class="blankCell" colspan="8">&nbsp;</td>
	</tr>

		<tr>
		<th class="header_size" colspan="22">Big Kid 8-12 years</th>
	</tr><tr>
		<td class="col_size" id="LeftMain">US &amp; Canada</td>

		<td class="col_size">3.5</td>
		<td class="col_size">4</td>

		<td class="col_size">4.5</td>
		<td class="col_size">5</td>
		<td class="col_size">5.5</td>
		<td class="col_size">6</td>

		<td class="col_size">6.5</td>

		<td class="col_size">7</td>

		<td class="col_size" class="blankCell" colspan="13">&nbsp;</td>
  </tr>
	<tr>
		<td class="col_size" id="LeftMain">Europe</td>
		<td class="col_size">35</td>

		<td class="col_size">36</td>
		<td class="col_size">36</td>

		<td class="col_size">37</td>
		<td class="col_size">37</td>
		<td class="col_size">38</td>
		<td class="col_size">38</td>

		<td class="col_size">39</td>
		<td class="col_size" class="blankCell" colspan="13">&nbsp;</td>

  </tr>
	<tr>
		<td class="col_size" id="LeftMain">U.K./Australia/NZ</td>
		<td class="col_size">2.5</td>

		<td class="col_size">3</td>
		<td class="col_size">3.5</td>

		<td class="col_size">4</td>

		<td class="col_size">4.5</td>
		<td class="col_size">5</td>
		<td class="col_size">5.5</td>

		<td class="col_size">6</td>
		<td class="col_size" class="blankCell" colspan="13">&nbsp;</td>

  </tr>

</tbody></table>
<br>
<a name="girlsShoes" id="girlsShoes"></a>
            <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="4" width="800">
  <tbody><tr> 	<td class="col_size" colspan="17" id="BlueHead">GIRL'S SHOE SIZES </td>

  </tr>
  <tr> 	<th class="header_size" id="LeftMain">U.S. &amp; Canada</th>

	<td class="col_size" width="60">9.5</td>
	<td class="col_size" width="60">10</td>
	<td class="col_size" width="60">11</td>

	<td class="col_size" width="60">11</td>
	<td class="col_size" width="60">12</td>
	<td class="col_size" width="60">12</td>

    <td class="col_size" width="60">13</td>
    <td class="col_size" width="60">13</td>
    <td class="col_size" width="60">14</td>

    <td class="col_size" width="60">1</td>
    <td class="col_size" width="60">1.5</td>
    <td class="col_size" width="60">2</td>

    <td class="col_size" width="60">2.5</td>
    <td class="col_size" width="60">3</td>
    <td class="col_size" width="60">3.5</td>

    <td class="col_size" width="60">4</td>
  </tr>
  <tr> 	<th class="header_size" id="LeftMain">U.K.</th>

	<td class="col_size">8</td>
	<td class="col_size">8.5</td>
	<td class="col_size">9</td>

	<td class="col_size">9.5</td>
	<td class="col_size">10</td>
	<td class="col_size">11</td>

    <td class="col_size">11</td>
    <td class="col_size">11.5</td>
    <td class="col_size">12</td>

    <td class="col_size">13</td>
    <td class="col_size">13</td>
    <td class="col_size">14</td>

    <td class="col_size">1</td>
    <td class="col_size">1.5</td>
    <td class="col_size">2</td>

    <td class="col_size">2.5</td>
  </tr>
  <tr>

    <th class="header_size" id="LeftMain">Europe</th>

    <td class="col_size">26</td>
    <td class="col_size">27</td>

    <td class="col_size">27</td>
    <td class="col_size">28</td>
    <td class="col_size">28</td>

    <td class="col_size">29</td>

    <td class="col_size">29</td>

    <td class="col_size">30</td>
    <td class="col_size">31</td>
    <td class="col_size">31</td>
    <td class="col_size">32</td>

    <td class="col_size">32</td>

    <td class="col_size">33</td>
    <td class="col_size">34</td>
    <td class="col_size">34</td>
    <td class="col_size">35</td>
  </tr>

  <tr>

    <th class="header_size" id="LeftMain">Japan</th>

    <td class="col_size">15</td>
    <td class="col_size">15</td>
    <td class="col_size">16</td>
    <td class="col_size">16</td>

    <td class="col_size">16</td>
    <td class="col_size">17</td>

    <td class="col_size">17</td>
    <td class="col_size">18</td>
    <td class="col_size">18</td>
    <td class="col_size">19</td>

    <td class="col_size">19</td>
    <td class="col_size">20</td>

    <td class="col_size">20</td>
    <td class="col_size">21</td>
    <td class="col_size">21</td>

    <td class="col_size">22</td>

  </tr>
</tbody></table>
<br>
<a name="boysShoes" id="boysShoes"></a>

            <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="4" width="800">
  <tbody><tr> 	<td class="col_size" colspan="15" id="BlueHead">BOY'S SHOE SIZES </td>
  </tr>

  <tr> 	<th class="header_size" id="LeftMain">U.S. &amp; Canada</th>

		<td class="col_size" width="60">12</td>

		<td class="col_size" width="60">12</td>
		<td class="col_size" width="60">13</td>

		<td class="col_size" width="60">13</td>
		<td class="col_size" width="60">14</td>
		<td class="col_size" width="60">1</td>

    <td class="col_size" width="60">1.5</td>

    <td class="col_size" width="60">2</td>

    <td class="col_size" width="60">2.5</td>
    <td class="col_size" width="60">3</td>
    <td class="col_size" width="60">3.5</td>
    <td class="col_size" width="60">4</td>

    <td class="col_size" width="60">4.5</td>

    <td class="col_size" width="60">5</td>

  </tr>
  <tr> 	<th class="header_size" id="LeftMain">Europe</th>
	<td class="col_size">29</td>

	<td class="col_size">30</td>

	<td class="col_size">31</td>

	<td class="col_size">31</td>
	<td class="col_size">32</td>
	<td class="col_size">33</td>
    <td class="col_size">34</td>

    <td class="col_size">34</td>
    <td class="col_size">35</td>

    <td class="col_size">35</td>
    <td class="col_size">36</td>
    <td class="col_size">36</td>
    <td class="col_size">37</td>

    <td class="col_size">38</td>
  </tr>

  <tr>
    <th class="header_size" id="LeftMain">Japan</th>
    <td class="col_size">17</td>
    <td class="col_size">17</td>

    <td class="col_size">18</td>
    <td class="col_size">18</td>

    <td class="col_size">19</td>
    <td class="col_size">19</td>
    <td class="col_size">20</td>

    <td class="col_size">20</td>

    <td class="col_size">21</td>
    <td class="col_size">21</td>

    <td class="col_size">22</td>
    <td class="col_size">22</td>

    <td class="col_size">23</td>
    <td class="col_size">23</td>

  </tr>
  <tr>
    <th class="header_size" id="LeftMain">U.K.</th>

    <td class="col_size">11</td>

    <td class="col_size">12</td>
    <td class="col_size">12</td>

    <td class="col_size">13</td>
    <td class="col_size">13</td>
    <td class="col_size">14</td>

    <td class="col_size">1</td>
    <td class="col_size">1.5</td>
    <td class="col_size">2</td>

    <td class="col_size">2.5</td>
    <td class="col_size">3</td>
    <td class="col_size">3</td>

    <td class="col_size">4</td>
    <td class="col_size">4</td>
  </tr>

</tbody></table>
