<br>

<center>

<a href="http://www.facebook.com/photo.php?pid=68507&id=100000387445415"><img src="http://photos-c.ak.fbcdn.net/hphotos-ak-snc3/hs215.snc3/22246_102789563077291_100000387445415_68507_4912697_n.jpg" height="296" width="604"></a>

<p>&nbsp;

<p>
<div style="color:#ab1543;font-size:18px;"><b>FEELING LUCKY in 2010?</b></div>
<p><div style="color:#ab1543;font-size:2px;">----------------------------</div>

<p>
<b>There will be 5 (five) Winners</b>

<p><div style="color:#ab1543;font-size:2px;">----------------------------</div>

<p>
<b>For 20 invitations you make to your friends, you will receive 10 points*</b>

<p>
(Repeated email of your friends does not count)

<p><div style="color:#ab1543;font-size:2px;">----------------------------</div>

<p>
<b>Always remember to cc: lucky.draw@fashionment.com</b>

<p>
(Do not forget or else invalid)

<p><div style="color:#ab1543;font-size:2px;">----------------------------</div>

<p>
<b>Points collection are ended on 31st January 2010, 00:00</b>

<p>
WIB or (GMT +7) Jakarta time

<p><div style="color:#ab1543;font-size:2px;">----------------------------</div>

<p>
<b>Winners will be announced in Fashionment.com on 1st February 2010, 09.00 a.m. </b>

<p>
WIB or (GMT +7) Jakarta time

<p><div style="color:#ab1543;font-size:2px;">----------------------------</div>

<p>
<b>Vouchers will be sent to Winners</b>

<p>
(Vouchers are not refundable as cash)

<p><div style="color:#ab1543;font-size:2px;">----------------------------</div>

<p>
*The more emails you send, the more points you get and higher chances you are going to win.

<p><div style="color:#ab1543;font-size:2px;">----------------------------</div>
<p>
<b>For more information, please visit www.fashionment.com or call (021) 6660 2184.</b>
<p><div style="color:#ab1543;font-size:2px;">----------------------------</div>

<p>
Regards, Fashionment Team.

<p><div style="color:#ab1543;font-size:2px;">----------------------------</div>

<p>
<div style="color:#ab1543;font-size:1px;"><b>Terms and
conditions Fashionment.com</b>&nbsp;1.&nbsp;Untuk menerima satu buah voucher, para peserta harus memenuhi persyaratan yang ada didalamnya.&nbsp;2.&nbsp;Undian ini tidak dipungut biaya apapun.&nbsp;3.&nbsp;Undian ini terbuka untuk semua penduduk Indonesia, tapi tidak termasuk karyawan Fashionment.com dan siapapun yang secara langsung berhubungan dengan pihak Fashionment.com.&nbsp;4.&nbsp;Undian ini hanya berlaku untuk penduduk berumur 18 tahun ke atas.&nbsp;5.&nbsp;Setiap kali forward email, silahkan cc ke lucky.draw@fashionment.com supaya email anda terdaftar di database untuk diundi.&nbsp;6.&nbsp; Hanya akan ada 5 (lima) pemenang yang berhak mendapatkan masing-masing satu voucher dalam undian
ini.&nbsp;7.&nbsp;Undian akan berakhir pada tanggal 31 Januari 2010 pada pukul 00:00 WIB. Dan
email yang masuk setelah pukul 00:00 WIB tidak akan dimasukkan ke database untuk diundi.&nbsp;8.&nbsp;Pemenang akan diberitahukan melalui email oleh pihak Fashionment.com pada tanggal 1 Februari 2010 dan akan diminta data pemenang untuk pengiriman hadiah.&nbsp;9.&nbsp;Fashionment.com mempunyai hak untuk mempublikasikan nama dan foto pemenang di website kami.&nbsp;10.&nbsp;Bila sampai tanggal 2 Februari 2010 pukul 20:00 WIB pemenang tidak memberikan alamat lengkap, pihak Fashionment.com berhak untuk mengundi ulang pemenang yang baru.&nbsp;11.&nbsp;Hadiah akan dikirimkan kepada pemenang setelah pemenang mengirimkan data pribadinya. Selambat-lambatnya hadiah akan dikirimkan tanggal 3 Februari 2010.&nbsp;12.&nbsp;Hadiah tidak dapat ditukarkan dengan uang tunai atau jenis lain.</div>

</p>
</center></br>

