{% extends "account_base.html" %}
{% load i18n %}
{% load cache %}
{% block head %}
  <link rel="stylesheet" href="{{MEDIA_URL}}css/about_us.css" type="text/css" />
{% endblock %}
{% block title %}
{% trans 'Fashionment.com - Buy Sell Fashion , Open Fashion Store , Import Clothes , Korea Japan Fashion , Accessories , Shoes , Fashion trend'%}
{%endblock%}

{% block content_loged %}
{% cache 3600 about_page %}
<div class="flatpages_page">
  <h1>{{ flatpage.title }}</h1>
  {{ flatpage.content }}
</div>
{% endcache %}
{% endblock %}
